body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-image: url("space.jpg");
}

.person {
  display: none;
  position: fixed;
  bottom: 0;
  left: calc(50% - 20px);
  height: 50px;
  width: 50px;
}

.bullet {
  position: fixed;
  height: 10px;
  width: 6px;
  background-color: darkgoldenrod;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.enemi {
  position: fixed;
  height: 40px;
  width: 40px;
}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 10px;
  margin: auto;
  width: 100px;
  text-align: center;
  color: black;
}

.new-game {
  margin-bottom: 5px;
}

.point-record {
  position: fixed;
  right: 10px;
  top: 10px;
  color: white;
}

.settings {
  color: white;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-image: inherit;
}

.name-set {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left {
  width: 50px;
  height: 50px;
  align-self: center;
}

.right {
  width: 50px;
  height: 50px;
  align-self: center;
}

.person-image {
  display: block;
  width: 200px;
  height: 200px;
  padding: 5px;
}

.swipe {
  display: flex;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.image {
  width: 190px;
  height: 190px;
}

.active {
  background-color: rgb(123, 106, 106);
}

.item {
  display: flex;
  justify-content: center;
}
